@font-face {
    font-family: "Decaydence";
    src: url("/fonts/Decaydence Straight.otf");
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
font-family: "Decaydence";
}

.badges img{
    width: 16px;
    height: 16px;
}

.content {
    width: 20%;
    height: 100%;
    /* background-color: rgb(180, 221, 255,1); */
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-end;
    gap: 10px;
}

.mensaje {
    background-color: rgb(0 0 0 / 90%);
    /* background: linear-gradient(140deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 80%, rgba(255, 0, 0, 1) 100%); */
    min-width: 50%;
    max-width: 90%;
    min-height: 5%;
    /* border: 3px solid #ff3737; Dani */
    border: 3px solid #66b2ff;
    border-radius: 10px;
    display: flex;
    box-shadow: 1px;
    opacity: 1;
    transition: opacity 1s ease;
    margin-bottom: 5px;
}


.sect-1 {
    padding: 5px;
    display: flex;
    align-items: flex-start;
}


.removing {
    opacity: 0;
}



.sect-1 > img {
    border-radius: 50%;
    width: 50px;
    scale: 0.8;
}

.sect-2 {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 0;
}

.sect-2 img {
        height: 2em;
        width: auto;
        vertical-align: middle;
}

.sect-2 > span {
        font-size: 12px;
        font-weight: bold;
}
.sect-2 > div {
        inline-size: 230px;
        overflow-wrap: break-word;
        color: white;
        font-size: 10px;

}
